{% load custom_tag %}
{% load humanize %}


<html>
    <head>
        <title>
            Ticket Test!
        </title>
        <style>
            .foobar table, tr{
                padding: 5px;
            }

            .foobar td{
                padding: 5px;
                max-width: 70px;
                
            }

            hr{
                height: 1px; 
                border: 0; 
                background-color: grey;
                
            }
        
            nav{
            
            margin-bottom: 10px;
        }
        .logo{
            display: flex;
        }
        .header{
            text-align: right;
            font-size: 2em;
            font-weight: 600;
        }
        li{
            margin-top: 5px;
            margin-bottom: 5px;
        }
        

            
            
        </style>
    </head>
    <body>

        <nav>
            <div  style="width: 100%; display: inline;">  
                <span style="color: rgb(225, 35, 35); font-weight: bold; font-size: 2.5em;">FLIGHT</span>
            </div>
            <div  style="width: 50%; display: inline;">
                <span style="font-size:30px;font-weight: bold; float : right;">E-Ticket</span>
            </div>
        </nav>

        <hr style="height: 1px; border: 0; background-color: grey;" noshade>

        <h1>Ticket Information</h1>
        
        
        <table  class="ticket" cellspacing="0">
            
            <tbody>
                <tr>
                    <th style="text-align: left">Booking Ref</th>
                    <td style="padding-left: 10px;">{{ booking.booking_ref }}</td>
                    {% if ret_booking %}
                        <th style="padding-left: 40px; max-width: 100px; text-align: left;">Return Booking Ref </th>
                        <td style="white-space: nowrap;">{{ ret_booking.booking_ref }}</td>
                    {% else %}
                        <th style="padding-left: 40px; max-width: 100px; text-align: left;">Booking Date and Time </th>
                        <td style="white-space: nowrap;">{{ booking.booked_at }}</td>
                    {% endif %}
                </tr>
                <tr style="height: 10px;"></tr>
                <tr>
                    <th style="text-align: left">Flight Date</th>
                    <td>{{ booking.flight_dep_date }}</td>
                    <th style="padding-left: 40px; max-width: 100px; text-align: left;">Class </th>
                    <td>{{ booking.seat_class }}</td>
                </tr>
                <tr style="height: 10px;"></tr>
                <tr>
                    <th style="text-align: left">Email</th>
                    <td>{{ booking.booked_by.email }}</td>
                    <th style="padding-left: 40px; max-width: 100px; text-align: left;">Mobile </th>
                    <td>{{ booking.booked_by.mobile_no }}</td>
                </tr>
                <tr style="height: 10px;"></tr>
                <tr>
                    <th style="text-align: left">Status</th>
                    <td>{{ booking.booking_status }}</td>

                    {% if ret_booking %}
                        <th style="padding-left: 40px; max-width: 100px; text-align: left;">Booking Date and Time </th>
                        <td style="white-space: nowrap;">{{ booking.booked_at }}</td>
                    {% endif %}
            
                </tr>
                
            </tbody>
        </table>
        
        
        <br>  
         
        {% if ret_booking %}
            <h2>Departing Flight INFO</h2>
        {% else %}
            <h2>Flight INFO</h2>
        {% endif %}

        <table class="foobar" cellspacing="0">
            <thead>
                <tr>
                    <th>Departure </th>
                    <th>Arrival </th>
                    <th>From </th>
                    <th style="padding-right: 20px;">To </th>
                    <th style="padding-right: 20px;">Airline </th>
                    <th style="padding-right: 20px;">Flight No. </th>
                    <th>PNR No. </th>
                </tr>
                <tr>
                    <th colspan="8"><hr></th>
                </tr>
                
            </thead>
            <tbody>
                <tr>
                    <td>{{ booking.flight_dep_date }} {{ booking.flight.depart_time }} </td>
                    <td style="padding-right: 20px;">{{ booking.flight_arriv_date }} {{ booking.flight.arrival_time }}</td>
                    <td style="padding-right: 20px;">{{ booking.flight.origin.city }} </td>
                    <td style="padding-right: 20px;">{{ booking.flight.destination.city }} </td>
                    <td>{{ booking.flight.airline }} </td>
                    <td>{{ booking.flight.flight_no }} </td>
                    <td>{{ booking.booking_ref }} </td>
                </tr>
            </tbody>

        </table>
        <br>
        <div class="horizontal">
            <h3>{{duration}} {{ booking.flight.duration.formatted_duration  }} | {{ booking.flight.origin.name }}, {{ booking.flight.origin.code }} - {{ booking.flight.destination.name }}, {{ booking.flight.destination.code }} </h3>   
        </div>
        <br>
        <br>

        
        {% if ret_booking %}
            <h2>Returning Flight INFO</h2>

            <table class="foobar" cellspacing="0">
                <thead>
                    <tr>
                        <th>Departure </th>
                        <th>Arrival </th>
                        <th>From </th>
                        <th style="padding-right: 20px;">To </th>
                        <th style="padding-right: 20px;">Airline </th>
                        <th style="padding-right: 20px;">Flight No. </th>
                        <th>PNR No. </th>
                    </tr>
                    <tr>
                        <th colspan="8"><hr></th>
                    </tr>
                    
                </thead>
                <tbody>
                    <tr>
                        <td>{{ ret_booking.flight_dep_date }} {{ ret_booking.flight.depart_time }} </td>
                        <td style="padding-right: 20px;">{{ ret_booking.flight_arriv_date }} {{ ret_booking.flight.arrival_time }}</td>
                        <td style="padding-right: 20px;">{{ ret_booking.flight.origin.city }} </td>
                        <td style="padding-right: 20px;">{{ ret_booking.flight.destination.city }} </td>
                        <td>{{ ret_booking.flight.airline }} </td>
                        <td>{{ ret_booking.flight.flight_no }} </td>
                        <td>{{ ret_booking.booking_ref }} </td>
                    </tr>
                </tbody>
    
            </table>

            <br>
            <div class="horizontal">
                <h3>{{ret_duration}} {{ ret_booking.flight.duration.formatted_duration  }} | {{ ret_booking.flight.origin.name }}, {{ ret_booking.flight.origin.code }} - {{ ret_booking.flight.destination.name }}, {{ ret_booking.flight.destination.code }} </h3>   
            </div>
        {% endif %}

        
        <br>
        <br>
        {% if ret_booking %}
            <h2>Departing Passenger Info</h2>
        {% else %}
            <h2>Passnenger Info</h2>
        {% endif %}

        <table class="foobar" cellspacing="0">
            <thead>
                <tr>
                    <th>Passenger's Name</th>
                    <th style="padding-left: 20px;">Gender</th>
                    <th style="padding-left: 20px;">Age</th>
                    <th style="padding-left: 20px;">Status</th>
                    <th style="padding-left: 20px;">Seat No.</th>
                    
                </tr>
                <tr>
                    <th colspan="6"><hr/></th>
                </tr>

            </thead>

            <tbody>
                {% for passenger in booking.passengers.all %}
                <tr>
                    <td>{{ forloop.counter }}. {{ passenger.first_name }} {{ passenger.last_name }} </td>
                    <td style="text-align: center;">{{ passenger.gender }} </td>
                    <td style="text-align: center;">{{ passenger.age }} </td>
                    <td style="text-align: center;">{{ booking.booking_status}} </td>
                    <td style="text-align: center;">{{ passenger.seat_no}}</td>

                </tr>
                {% endfor %}
                
            </tbody>
        </table>

        <br><br>
        {% if ret_booking %}
            <h2>Returning Passenger Info</h2>
            <table class="foobar" cellspacing="0">
                <thead>
                    <tr>
                        <th>Passenger's Name</th>
                        <th style="padding-left: 20px;">Gender</th>
                        <th style="padding-left: 20px;">Age</th>
                        <th style="padding-left: 20px;">Status</th>
                        <th style="padding-left: 20px;">Seat No.</th>
                        
                    </tr>
                    <tr>
                        <th colspan="6"><hr/></th>
                    </tr>

                </thead>

                <tbody>
                    {% for passenger in ret_booking.passengers.all %}
                    <tr>
                        <td>{{ forloop.counter }}. {{ passenger.first_name }} {{ passenger.last_name }} </td>
                        <td style="text-align: center;">{{ passenger.gender }} </td>
                        <td style="text-align: center;">{{ passenger.age }} </td>
                        <td style="text-align: center;">{{ booking.booking_status}} </td>
                        <td style="text-align: center;">{{ passenger.seat_no}}</td>

                    </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
        {% endif %}
        <!-- baggage INFO -->

        {% if total_hand_baggage != 0.0 and total_check_in_baggage != 0.0 %}
        <br>
            <h2>Passenger Baggage Information </h2>
            <table cellspacing="0">
                
                <thead>
                    <tr>
                        <th> Passenger Name </th>
                        <th style="padding-left: 20px;"> Hand Baggage (in Kgs)</th>
                        <th style="padding-left: 15px;"> Check-In Baggage (in Kgs)</th>
                    </tr>
                    
                </thead>

                <tbody>
                    <tr>
                        <td colspan="4"><hr></td>
                    </tr>
                    {% for passenger in booking.passengers.all %}
                    <tr>
                        <td>{{ forloop.counter }}. {{ passenger.first_name }} {{ passenger.last_name }} </td>
                        <td style="text-align: center;">{{ passenger.hand_baggage }} </td>
                        <td style="text-align: center;">{{ passenger.check_in_baggage }} </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        {% endif %}
        <h2></h2>
        <br>
        <br> 
        {% if ret_booking %}
            <h2>Departing Fare Rules and Charges </h2>
        {% else %}
             <h2>Fare Rules and Charges </h2>
        {% endif %}

        <hr>


                <table cellspacing="0">
                    <tbody>
                        <tr>
                            <td>Base Charge and Airplane Fuel Charge </td>
                            
                        </tr>
                        <tr>
                            <br/>
                        </tr>
                        
                        {% if age_group_count.adults != 0 %}
                            {% with adults=age_group_count.adults  ticket_price=ticket_price %}
                            <tr> 
                                <td style="padding-left: 20px;"> Adults ({{ adults }}x Rs. {{ticket_price|intcomma}} )</td>
                                <td style="white-space: nowrap;"> Rs. {{ ticket_price|multiply:adults|intcomma }} </td>
                            </tr>
                            {% endwith %}
                        {% endif %}

                        {% if age_group_count.children != 0 %}
                            {% with children=age_group_count.children  ticket_price=ticket_price %}
                            <tr>
                                <td style="padding-left: 20px;"> Children ({{ children }}x Rs. {{ticket_price|intcomma}} )</td>
                                <td style="white-space: nowrap;"> Rs. {{ ticket_price|multiply:children|intcomma }} </td>
                            </tr>
                            {% endwith %}
                        {% endif %}

                        {% if age_group_count.infants != 0 %}
                            {% with infants=age_group_count.adults  ticket_price=ticket_price %}
                            <tr>
                                <td style="padding-left: 20px;"> Infants ({{ infants }}x Rs. {{550|intcomma}} )</td>
                                <td> Rs. {{ ticket_price|multiply:children|intcomma }} </td>
                            </tr>
                            {% endwith %}
                        {% endif %}
        
                        <tr>
                            <td colspan="4"> <hr/></td>
                        </tr>
        
                        <tr>
                            <td>Taxes and Fees</td>
                        </tr>
                        <tr >
                            <td style="padding-left: 20px;">Cute Charge </td>
                            <td>Rs. 50.00</td>
                        </tr>
                        <tr >
                            <td style="padding-left: 20px;">RCS Provision </td>
                            <td>Rs. 50.00</td>
                        </tr>
                        <tr >
                            <td style="padding-left: 20px;">Aviation Security Fee </td>
                            <td>Rs. 236.00</td>
                        </tr>
                        <tr >
                            <td style="padding-left: 20px;">Passenger Service Fee </td>
                            <td>Rs. 91.00</td>
                        </tr>
                        <tr>
                            <td style="padding-left: 20px;">User Developement Fee </td>
                            <td>Rs. 61.00</td>
                        </tr>
                        <tr >
                            <td style="padding-left: 20px;">Convenience Fee </td>
                            <td>Rs. 300.00</td>
                        </tr>
                        
                        {% with adults=age_group_count.adults children=age_group_count.children infants=age_group_count.infants %}
                            {% if booking.seat_class == 'ECONOMY' %}
                                {% calculate_gst_total adults children infants ticket_price 0.05 as gst_total %}
                                <tr>
                                    <td style="padding-left: 20px;">GST @ 5% on Total Base Fare </td>
                                    <td style="white-space: nowrap;">Rs. {{ gst_total|floatformat:"2"|intcomma }}</td>
                                </tr>
                            {% elif booking.seat_class == 'BUISNESS' or booking.seat_class == 'FIRST_CLASS' %}
                                {% calculate_gst_total adults children infants ticket_price 0.12 as gst_total %}
                                <tr>
                                    <td style="padding-left: 20px;">GST @ 12% on Total Base Fare </td>
                                    <td style="white-space: nowrap;">Rs. {{ gst_total|floatformat:"2"|intcomma }}</td>
                                </tr>
                            {% endif %}
                         {% endwith %}


                    {% if booking.extra_check_in_baggage != 0.0 %}
                        <tr>
                            <td colspan="4"><hr/></td>    
                        </tr>
                        <tr>
                            <td>
                                Extra baggage charges
                            </td>
                            
                        </tr>

                        <tr>
                            {% if booking.extra_baggage_booking_mode  == 'AT_AIRPORT' %}
                                <td style="padding-left: 20px">Extra baggage price ( @550.0/Kg)</td>
                                <td style="white-space: nowrap;">Rs. {{ booking.extra_baggage_price|intcomma }}  </td>

                            {% elif booking.extra_baggage_booking_mode  == 'PRE_BOOKING' %}
                                <td style="padding-left: 20px">Extra baggage price </td>
                                <td style="white-space: nowrap;">Rs. {{ booking.extra_baggage_price|intcomma }}</td>
                            
                            {% endif %}
                        </tr>
                    {% endif %}
                    
                    <tr>
                        <td><br/></td>
                    </tr>
                    <tr>
                        <td colspan="4"><hr></td>
                    </tr>
                    <tr>
                        <td>Grand total </td>
                        <td style="white-space: nowrap;"> <strong>Rs. {{ booking.total_fare|floatformat:"2"|intcomma }}</strong>  </td>
                    </tr>
        
                    </tbody>
                </table>
                <br>
                <br>
                {% if ret_booking %}
                    <h2>Returning Flight Fare and Charges</h2>
                    <hr>


                    <table cellspacing="0">
                        <tbody>
                            <tr>
                                <td>Base Charge and Airplane Fuel Charge </td>
                                
                            </tr>
                            <tr>
                                <br/>
                            </tr>
                            
                            {% if age_group_count.adults != 0 %}
                                {% with adults=age_group_count.adults  ticket_price=ret_ticket_price %}
                                <tr> 
                                    <td style="padding-left: 20px;"> Adults ({{ adults }}x Rs. {{ticket_price|intcomma}} )</td>
                                    <td style="white-space: nowrap;"> Rs. {{ ticket_price|multiply:adults|intcomma }} </td>
                                </tr>
                                {% endwith %}
                            {% endif %}

                            {% if age_group_count.children != 0 %}
                                {% with children=age_group_count.children  ticket_price=tret_icket_price %}
                                <tr>
                                    <td style="padding-left: 20px;"> Children ({{ children }}x Rs. {{ticket_price|intcomma}} )</td>
                                    <td style="white-space: nowrap;"> Rs. {{ ticket_price|multiply:children|intcomma }} </td>
                                </tr>
                                {% endwith %}
                            {% endif %}

                            {% if age_group_count.infants != 0 %}
                                {% with infants=age_group_count.adults  ticket_price=ret_ticket_price %}
                                <tr>
                                    <td style="padding-left: 20px;"> Infants ({{ infants }}x Rs. {{550|intcomma}} )</td>
                                    <td> Rs. {{ ticket_price|multiply:children|intcomma }} </td>
                                </tr>
                                {% endwith %}
                            {% endif %}
            
                            <tr>
                                <td colspan="4"> <hr/></td>
                            </tr>
            
                            <tr>
                                <td>Taxes and Fees</td>
                            </tr>
                            <tr >
                                <td style="padding-left: 20px;">Cute Charge </td>
                                <td>Rs. 50.00</td>
                            </tr>
                            <tr >
                                <td style="padding-left: 20px;">RCS Provision </td>
                                <td>Rs. 50.00</td>
                            </tr>
                            <tr >
                                <td style="padding-left: 20px;">Aviation Security Fee </td>
                                <td>Rs. 236.00</td>
                            </tr>
                            <tr >
                                <td style="padding-left: 20px;">Passenger Service Fee </td>
                                <td>Rs. 91.00</td>
                            </tr>
                            <tr>
                                <td style="padding-left: 20px;">User Developement Fee </td>
                                <td>Rs. 61.00</td>
                            </tr>
                            <tr >
                                <td style="padding-left: 20px;">Convenience Fee </td>
                                <td>Rs. 300.00</td>
                            </tr>
                            
                            {% with adults=age_group_count.adults children=age_group_count.children infants=age_group_count.infants %}
                                {% if ret_booking.seat_class == 'ECONOMY' %}
                                    {% calculate_gst_total adults children infants ret_ticket_price 0.05 as gst_total %}
                                    <tr>
                                        <td style="padding-left: 20px;">GST @ 5% on Total Base Fare </td>
                                        <td style="white-space: nowrap;">Rs. {{ gst_total|floatformat:"2"|intcomma }}</td>
                                    </tr>
                                {% elif booking.seat_class == 'BUISNESS' or booking.seat_class == 'FIRST_CLASS' %}
                                    {% calculate_gst_total adults children infants ret_ticket_price 0.12 as gst_total %}
                                    <tr>
                                        <td style="padding-left: 20px;">GST @ 12% on Total Base Fare </td>
                                        <td style="white-space: nowrap;">Rs. {{ gst_total|floatformat:"2"|intcomma }}</td>
                                    </tr>
                                {% endif %}
                            {% endwith %}


                        {% if ret_booking.extra_check_in_baggage != 0.0 %}
                            <tr>
                                <td colspan="4"><hr/></td>    
                            </tr>
                            <tr>
                                <td>
                                    Extra baggage charges
                                </td>
                                
                            </tr>

                            <tr>
                                {% if ret_booking.extra_baggage_booking_mode  == 'AT_AIRPORT' %}
                                    <td style="padding-left: 20px">Extra baggage price ( @550.0/Kg)</td>
                                    <td style="white-space: nowrap;">Rs. {{ booking.extra_baggage_price|intcomma }}  </td>

                                {% elif ret_booking.extra_baggage_booking_mode  == 'PRE_BOOKING' %}
                                    <td style="padding-left: 20px">Extra baggage price </td>
                                    <td style="white-space: nowrap;">Rs. {{ booking.extra_baggage_price|intcomma }}</td>
                                
                                {% endif %}
                            </tr>
                        {% endif %}
                        
                        <tr>
                            <td><br/></td>
                        </tr>
                        <tr>
                            <td colspan="4"><hr></td>
                        </tr>
                        <tr>
                            <td>Grand total </td>
                            <td style="white-space: nowrap;"> <strong>Rs. {{ ret_booking.total_fare|floatformat:"2"|intcomma }}</strong>  </td>
                        </tr>
            
                        </tbody>
                    </table>
                    
                {% endif %}

        
                <div style="margin: 15px auto;">
                    <br>
                    <ul style="padding-left: 50px;">
                        
                    </ul>


                    <h3>Important information</h3>
                    <ul style="padding-left: 50px;">
                        <li>
                            Above details are per passenger per sector
                        </li>
                        <li>
                            In case of no-show or ticket not cancelled within the stipulated time, only statutory taxes are refundable subject to Platform Service Fee
                        </li>
                        <li>
                            This is your E-Ticket Iternary. You must bring it to the airport for check-in, and it is recommended you to retain a copy for your records.
                        </li>
                        <li>
                            Maximum overall dimensions of cabin baggage should not exceed 115 cms (L+W+H)
                        </li>
                        <li>
                            Please confirm the terminal with the airline as the same can be changed anytime before departure.
                        </li>
                        <li>
                            Carry photo identification, you will need it as proof of identity while checking in
                        </li>
                        <li>
                            In case of cancellation of a ticket, Platform reserves the right to levy a cancellation fee per passenger per flight/sector. The aforesaid
                            amount may be charged by the Platform at its sole discretion and without notice to the User. Please note these charges shall be over
                            and above the airline cancellation charges.
                        </li>
                        <li>
                            Each passenger travelling needs a printed copy of this document for immigrations, customs, airport security checks and duty free purchases.
                        </li>
                        <li>
                            Economy Class passengers should report to airline check-in desks 3 hours prior to departure of all flights. First and Business Class passengers should report to airline check-in desks not later than 1 hour prior to departure. Boarding for your flight begins at least 35 minutes before your scheduled departure time. Gates close 15 minutes prior to departure
                        </li>
                    </ul>
                </div>

                <p style="margin: 10px 0; font-size: .8em;">&#169;	 {% now "Y" %} Flight Inc. All rights reserved.</p>



    </body>
</html>