{% load custom_tag %}
{% load humanize %}


<html>
    <head>
        <title>
            Ticket Test!
        </title>
        <style>
            .foobar table, tr{
                padding: 5px;
            }

            .foobar td{
                padding: 5px;
                max-width: 70px;
                
            }

            .fareandbaggage {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
            }

            .baggage{
                margin-top: 20px;
            }
            
        </style>
    </head>
    <body>
        <h1>Flight ticket {{ booking.flight }} ({{ booking.seat_class }})</h1>
        
        <hr style="height: 6px; color: black">
        <br>    
        <h2>Flight INFO</h2>

        <table class="foobar">
            <thead>
                <tr>
                    <th>Departure </th>
                    <th>Arrival </th>
                    <th>From </th>
                    <th>To </th>
                    <th>Airline </th>
                    <th>Flight No. </th>
                    <th>PNR No. </th>
                </tr>
                <tr>
                    <th colspan="8"><hr></th>
                </tr>
                
            </thead>
            <tbody>
                <tr>
                    <td>{{ booking.flight_dep_date }} {{ booking.flight.depart_time }} </td>
                    <td>{{ booking.flight_arriv_date }} {{ booking.flight.arrival_time }}</td>
                    <td>{{ booking.flight.origin.city }} </td>
                    <td>{{ booking.flight.destination.city }} </td>
                    <td>{{ booking.flight.airline }} </td>
                    <td>{{ booking.flight.flight_no }} </td>
                    <td>{{ booking.booking_ref }} </td>
                </tr>
            </tbody>

        </table>
        <br>
        <div class="horizontal">
            <h3>{{duration}} {{ booking.flight.duration.formatted_duration  }} | {{ booking.flight.origin.name }}, {{ booking.flight.origin.code }} - {{ booking.flight.destination.name }}, {{ booking.flight.destination.code }} </h3>   
        </div>

        <br>
        <h2>Passenger Info</h2>

        <table class="foobar">
            <thead>
                <tr>
                    <th>Passenger's Name</th>
                    <th>Gender</th>
                    <th>Age</th>
                    <th>Status</th>
                    <th>Seat No.</th>
                    
                </tr>
                <tr>
                    <th colspan="6"><hr/></th>
                </tr>

            </thead>

            <tbody>
                {% for passenger in booking.passengers.all %}
                <tr>
                    <td>{{ forloop.counter }} {{ passenger.first_name }} {{ passenger.last_name }} </td>
                    <td>{{ passenger.gender }} </td>
                    <td>{{ passenger.age }} </td>
                    <td>{{ booking.booking_status}} </td>
                    <td style="padding-left: 20px;">{{ passenger.seat_no}}</td>

                </tr>
                {% endfor %}
            </tbody>
        </table>

        
        <h2>Fare Rules and Charges </h2>
        <hr style="height: 3px;">

                <table>
                    <tbody>
                        <tr>
                            <td>Base Charge and Airplane Fuel Charge </td>
                            
                        </tr>
                        <tr>
                            <br/>
                        </tr>
                        
                        {% if age_group_count.adults != 0 %}
                            {% with adults=age_group_count.adults  ticket_price=ticket_price %}
                            <tr> 
                                <td style="padding-left: 20px;"> Adults ({{ adults }}x Rs. {{ticket_price|intcomma}} )</td>
                                <td> Rs. {{ ticket_price|multiply:adults|intcomma }} </td>
                            </tr>
                            {% endwith %}
                        {% endif %}

                        {% if age_group_count.children != 0 %}
                            {% with children=age_group_count.children  ticket_price=ticket_price %}
                            <tr>
                                <td style="padding-left: 20px;"> Children ({{ children }}x Rs. {{ticket_price|intcomma}} )</td>
                                <td> Rs. {{ ticket_price|multiply:children|intcomma }} </td>
                            </tr>
                            {% endwith %}
                        {% endif %}

                        {% if age_group_count.infants != 0 %}
                            {% with infants=age_group_count.adults  ticket_price=ticket_price %}
                            <tr>
                                <td style="padding-left: 20px;"> Infants ({{ infants }}x Rs. {{550|intcomma}} )</td>
                                <td> Rs. {{ ticket_price|multiply:children|intcomma }} </td>
                            </tr>
                            {% endwith %}
                        {% endif %}
        
                        <tr>
                            <td colspan="4"> <hr/></td>
                        </tr>
        
                        <tr>
                            <td>Taxes and Fees</td>
                        </tr>
                        <tr >
                            <td style="padding-left: 20px;">Cute Charge </td>
                            <td>Rs. 50.00</td>
                        </tr>
                        <tr >
                            <td style="padding-left: 20px;">RCS Provision </td>
                            <td>Rs. 50.00</td>
                        </tr>
                        <tr >
                            <td style="padding-left: 20px;">Aviation Security Fee </td>
                            <td>Rs. 236.00</td>
                        </tr>
                        <tr >
                            <td style="padding-left: 20px;">Passenger Service Fee </td>
                            <td>Rs. 91.00</td>
                        </tr>
                        <tr >
                            <td style="padding-left: 20px;">User Developement Fee </td>
                            <td>Rs. 61.00</td>
                        </tr>
                        <tr >
                            <td style="padding-left: 20px;">Convenience Fee </td>
                            <td>Rs. 300.00</td>
                        </tr>
                        
                        {% with adults=age_group_count.adults children=age_group_count.children infants=age_group_count.infants %}
                            {% if booking.seat_class == 'ECONOMY' %}
                                {% calculate_gst_total adults children infants ticket_price 0.05 as gst_total %}
                                <tr>
                                    <td style="padding-left: 20px;">GST @ 5% on Total Base Fare </td>
                                    <td>Rs. {{ gst_total|floatformat:"2"|intcomma }}</td>
                                </tr>
                            {% elif booking.seat_class == 'BUISNESS' or booking.seat_class == 'FIRST_CLASS' %}
                                {% calculate_gst_total adults children infants ticket_price 0.12 as gst_total %}
                                <tr>
                                    <td style="padding-left: 20px;">GST @ 12% on Total Base Fare </td>
                                    <td>Rs. {{ gst_total|floatformat:"2"|intcomma }}</td>
                                </tr>
                            {% endif %}
                         {% endwith %}


                    {% if booking.extra_check_in_baggage != 0.0 %}
                        <tr>
                            <td colspan="4"><hr/></td>    
                        </tr>
                        <tr>
                            <td>
                                Extra baggage charges
                            </td>
                            
                        </tr>

                        <tr>
                            {% if booking.extra_baggage_booking_mode  == 'AT_AIRPORT' %}
                                <td style="padding-left: 20px">Extra baggage price ( @550.0/Kg)</td>
                                <td>Rs. {{ booking.extra_baggage_price|intcomma }}  </td>

                            {% elif booking.extra_baggage_booking_mode  == 'PRE_BOOKING' %}
                                <td style="padding-left: 20px">Extra baggage price </td>
                                <td>Rs. {{ booking.extra_baggage_price|intcomma }}</td>
                            
                            {% endif %}
                        </tr>
                    {% endif %}
                    
                    <tr>
                        <td><br/></td>
                    </tr>
                    <tr>
                        <td>Grand total </td>
                        <td>Rs. {{ booking.total_fare|intcomma }}</td>
                    </tr>
        
                    </tbody>
                </table>
           
        



    </body>
</html>